/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #e24242;
    padding: 20px;
}

.tab-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main Content */
.featured-blogs {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-gap: 20px;
    padding: 20px;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.featured-post {
    background-color: #191b7f;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.featured-post img {
    max-width: 100%;
    height: auto;
}

.featured-post h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.read-more {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #ab1a1a;
    text-decoration: none;
    border-radius: 3px;
}

.main {
    display: flex;
    padding: 20px;
}

.tab-navigation button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

.sidebar {
    grid-column: 2 / span 1; /* Spans one column */
    padding: 20px;
}

.sidebar h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

/* Additional styles for centering columns */
.blog-posts .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center columns horizontally */
}
/* styles.css */
.dropdown-tip {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
}

input:focus + .dropdown-tip {
    display: block;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #2285a5;
    border-top: 2px solid #bb1c1c;
    margin-top: 20px;
}